# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Spark / temp
spark-warehouse/
metastore_db/
derby.log

# Generated data that can be recreated
data/raw_expanded/
data/cleaned/

# Generated outputs
outputs/

# Keep folder structure if needed
!data/raw_expanded/.gitkeep
!data/cleaned/.gitkeep
!outputs/.gitkeep
